.ant-form,
.ant-drawer-body {
    display: flex;
    flex-direction: column;
    height: auto !important;
}

.saveCancelBtnDiv {
    margin-top: auto !important;

}

.saveBtn {
    margin-right: 8;
    background-color: #286FD1;
    width: 86px;
}