.buttonSubscription {
    font-size: 12px !important;
    font-weight: bold;
    color: #2E1F7A !important;
    border-color: #2E1F7A;
    border-radius: 20px;
}

.title {
    font-weight: bold;
    /* font-size: 20px !important; */
    padding-top: 10px !important;
}

.logo {
    width: 24px;
    padding-bottom: 8px
}

.pricing {

    font-size: 18px;
    color: #2E1F7A
}