.organizationBtn {
    background-color: #286FD1;
    font-size: 11px;
    padding-left: 4.5px;
    padding-right: 4.5px;
}

.addInfoDiv {
    width: "100%"
}

.btnInfo{
    padding-left: 1% !important;
}

.btnOrganization{
    padding-left: 0.1%;
}