.ant-switch-checked {
    background-color: green !important;
}

.ant-alert-success {
    background-color: white !important;
    border: none !important;
}

.ant-alert-error {
    background-color: white !important;
    border: none !important;
}

.rolesPermission {
    color: #4985D8;
    cursor: pointer;
}

.dynamicTable {
    width: 98%;
}